:root{
    --primary-theme-color: #FF976A;
    
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
a{
    display: block;
    text-decoration: none;
    color:black;
}

.flex-wrap 
{
    display:flex;
    justify-content:space-between;  
    align-items:center;
}

.container
{
    /* width: 1280px; */
    height:100%;
    margin-inline: auto;
   
    background-color:#ffffff;
   
    
}



.right-container
{
    background-color:#0D4A3F;
    padding-block: 25px;
}

.logo{
    height:100%;
    padding-left: 140px;

}
.logo img{
    width:170px;
}


.container nav{
    
    gap: 40px;
    padding-inline: 140px;
}

nav a
{
 color:#6EF2D5;
 font-size: 16px;
 font-weight:500;
 text-transform: uppercase;
 
}
nav a:hover
{
    color:#ffff;
}

.btn-wrap
{
    display: flex;
    gap: 20px;
}
.btn-wrap .btn
{
    border: 1px solid #6EF2D5;
    background-color: #0D4A3F;
    width: 120px;
    cursor:pointer;
    font-size: 18px;
    font-weight:500;
    padding: 4px 12px;
    color:#6EF2D5;

}

.btn-wrap .btn2
{
    width: 120px;
    cursor:pointer;
    font-size: 18px;
    font-weight:500;
    padding: 4px 12px;
    color:#0D4A3F;
    background-color: #6EF2D5;
}

.btn-wrap .btn:hover
{
    
    background-color: #6EF2D5;
    color:#0D4A3F;

}

.btn-wrap .btn2:hover
{
    background-color: #5cd3ba;
}

/* button {
    width: 120px;
    cursor:pointer;
    font-size: 18px;
    font-weight:500;
    padding: 4px 12px; 
   /* border: 1px solid var(--primary-theme-color); */
   /* background-color:var(--primary-theme-color) ;
   
    color:white;
   
     
} */ 